body {
  max-width:50em;
  margin:0 auto !important;
}

* {
    font-family: sans-serif;
    line-height: 1.55em;
}

p {
  text-align: justify;  
}

h3 {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.1em;
}

h2 {
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
}

h1 {
    font-family: sans-serif;
    font-size: 2.2em;
    line-height: 1.5em;
    text-align: center;
}
#framed {
    border: 1px solid #000000;
    border-radius: 0 0 0 0;
    padding: .5em 1.5em .5em 1.1em;
    margin-top: 1.5em;
}